@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: radial-gradient(
				52.52% 32.71% at 50% 97.66%,
				rgba(36, 160, 181, 0.2) 0%,
				rgba(36, 160, 181, 0) 100%
			),
			#02191d;
		--foreground: #ffffff;
		--card: #041e23;
		--card-foreground: 240 10% 3.9%;
		--popover: #052228;
		--popover-foreground: #ffffff;
		--primary: #24a0b5;
		--primary-foreground: #ffffff;
		--secondary: #fff;
		--secondary-foreground: #0a0c11;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: #fafafa;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: #b3b3b3;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: #0e464f;
		--input: #07373f;
		--ring: #197686;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		background: var(--background);
		color: var(--foreground);
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 100svh;
	}
	ul {
		list-style-type: disc;
		padding-left: 1.5rem;
	}

	ul ul {
		list-style-type: circle;
		padding-left: 1.5rem;
	}

	ul ul ul {
		list-style-type: square;
		padding-left: 1.5rem;
	}

	input:-webkit-autofill {
		background-color: transparent !important;
		-webkit-text-fill-color: white !important;
		-webkit-box-shadow: 0 0 0px 1000px var(--background) inset !important;
		transition: background-color 5000s ease-in-out 0s;
	}

	.banner {
		background: radial-gradient(
				57.42% 106.59% at 14.02% 32.06%,
				rgba(36, 160, 181, 0.2) 0%,
				rgba(36, 160, 181, 0) 100%
			),
			rgba(10, 12, 17, 0.1);
		background-size: cover;
		background-position: center;
	}
	.clip-curve {
		clip-path: path(
			"M0,15
			Q15,0 30,15
			L70,15
			Q85,0 100,15
			L100,70
			Q85,85 70,100
			L30,100
			Q15,85 0,70
			Z"
		);
	}
}
